/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
body,html{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Muli", sans-serif;
}

/*Navigation Bar*/
.Navigation{
     overflow:hidden;
    
}
.Navigation a{
     float:left;
     display:block;
     color:black;
     text-align:center;
     padding:10px 16px;
     text-decoration:none;
     font-size:18px;
     font-style:italic;
}
     
.Navigation a:hover{
    color: #021B4D;
    text-decoration:none;
}
.current{
    color:#021B4D !important;
    font-weight:bold;
}
.nav-item{
    margin-top:40px;  
}
/* Account- Right*/
.Account-right{
    float:right;
}

.Account-right a{
    border-radius: 6px;
    background-color:#021B4D ;
    position:relative;
    margin-right:40px;
    padding:10px 25px;
    color:white;
    margin-top:32px;
}
.Account-right a:hover{
    color:#FFDF00;
}

/*Contact Us*/
label{size:10px;}
  /* Style inputs */
input[type=text], select, textarea {
    width:620px;
    height:30px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #000;
    opacity:0.8;
  }
  
  /* Style the container/contact section */
  .Contact-us{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 45%;
    margin-top: 6px;
    padding: 15px;
  }
  
  .row{
      margin-left:6%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

  /*Footer*/
  .Footer{
    width:100%;
     background-color:#021B4D;
     color: white;
     text-align: center;
     margin-top:4% !important;
     bottom:0;
     height: 55px;
  }

 .fa{
     margin-top:8px;
 }