/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
body,html{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Muli", sans-serif;
}

/*Navigation Bar*/
.Navigation{
     overflow:hidden;
    
}
.Navigation a{
     float:left;
     display:block;
     color:black;
     text-align:center;
     padding:10px 16px;
     text-decoration:none;
     font-size:18px;
     font-style:italic;
}
     
.Navigation a:hover{
    color: #021B4D;
    text-decoration:none;
}
.current{
    color:#021B4D !important;
    font-weight:bold;
}
.nav-item{
    margin-top:40px;  
}
/* Account- Right*/
.Account-right{
    float:right;
}

.Account-right a{
    border-radius: 6px;
    background-color:#021B4D ;
    position:relative;
    margin-right:40px;
    padding:10px 25px;
    color:white;
    margin-top:32px;
}
.Account-right a:hover{
    color:#FFDF00;
}
/*Image Slider*/
.Image-Slider{
    margin-top:-2%;
}
/*About Us*/
 /*Change font-family & lower position*/
 .heading {
    text-align: center;
    font-family: League Gothic;
    font-size: 80px;
    margin-top: 5%;
  }
  /*move image to the left*/
  .company {
    width: 240px;
    height: 250px;
    float: left;
    margin-left: 20%;
    margin-top: -1%;
  }
  .p-1 {
    top: 2%;
    white-space: pre;
    text-align: justify;
    font-size:20px;
  }
/* Design the read button*/
  .Read-About {
    margin-left: 0%;
    margin-top: 15px;
    font-style:italic;
    text-decoration: none;
  }
  .Read-About:hover {
   color:#B3B3B3;
  }

  /* products*/
  .Product-list{
    margin-top:1%;
    margin-left:55px;
  }
  .Product-title{
    margin-left:43.5%;
    font-family: League Gothic;
     font-size: 80px;

  }
  /* Three columns side by side */
  .column {
    float: left;
    width:20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    width: 280px;
    height:360px;
    border:1px solid #ddd;
  }

  .title{
  font-size:30px;
    font-family:Anton;
    color:#000;
  }
  .price-side{
    margin-left:70px;
    margin-top:-28px;
  }
  
  .cart-btn{
    margin-left:150px;
    border-radius: 5px;
    background-color:#021B4D;
    width:35%;
    padding:10px 8px;
    font-size:12px;
    color:#fff;
    border:2px solid #021B4D;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    font-style:italic;
  }
  
  .cart-btn:hover{
    color:#fff;
    opacity:0.8;
  }
  /*Pagination*/

  .pagination a {
    color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    padding: 8px 16px;
    position: relative;
    left: 780px;
  }
  
  .pagination a.active {
    background-color:#021B4D;
    color: white;
    text-decoration:none;
  }
  
  .pagination a:hover:not(.active) {
      background-color: #ddd;
      text-decoration:none;
    }
   /*Contact Us*/
   .Contact-Us{
    margin-top:1%
   }
   
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /*Footer*/
  .Footer{
       width:100%;
        background-color:#021B4D;
        color: white;
        text-align: center;
        margin-top:18% !important;
        bottom:0;
        height: 55px;
     }

 

  